# where the cache direction is
.cache_bert
.cache_attention
.idea

# Pyhon byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
__pycache__
*/__pycache__/*

.ipynb_checkpoints
*/.ipynb_checkpoints/*
